{% extends 'base.html' %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />

{% endblock %} {% block content%}
<div class="container" style="background-color: greenyellow">
  <a href="{{url_for('main.add_pitch')}}">Add pitch</a>
  <h6>
    "If you would convince a man that he does wrong, do right. But do not care
    to convince him. Men will believe what they see. Let them see."
  </h6>
  
      <h3>Business</h3>
      {% for pitch in business%}
      <h3>{{ pitch.title }}</h3>
      <p>{{ pitch.pitch }}</p>
      <p>By {{ pitch.user.username }}</p>

      <a href="{{url_for('main.add_comment',pitch_id = pitch.id)}}"
        >Add comment</a
      >

      <a href="{{url_for('main.view_comment',pitch_id = pitch.id)}}"
        >View comment</a
      >
   

    {% endfor %}
    
        <h3>Entertainment</h3>
        {% for pitch in entertainment%}
        <h3>{{ pitch.title }}</h3>
        <p>{{ pitch.pitch }}</p>
        <p>By {{ pitch.user.username }}</p>
        <a href="{{url_for('main.add_comment',pitch_id = pitch.id)}}"
          >Add comment</a
        >

        <a href="{{url_for('main.view_comment',pitch_id = pitch.id)}}"
          >View comment</a
        >
  
      {% endfor %}
     
        <h3>Comedy</h3>
        {% for pitch in comedy%}
        <h3>{{ pitch.title }}</h3>
        <p>{{ pitch.pitch }}</p>
        <p>By {{ pitch.user.username }}</p>
        <a href="{{url_for('main.add_comment',pitch_id = pitch.id)}}"
          >Add comment</a
        >

        <a href="{{url_for('main.view_comment',pitch_id = pitch.id)}}"
          >View comment</a
        >
     
      {% endfor %}

      <h3>Religion</h3>
      {% for pitch in religion%}
      <h3>{{ pitch.title }}</h3>
      <p>{{ pitch.pitch }}</p>
      <p>By {{ pitch.user.username }}</p>
      <a href="{{url_for('main.add_comment',pitch_id = pitch.id)}}"
        >Add comment</a
      >

      <a href="{{url_for('main.view_comment',pitch_id = pitch.id)}}"
        >View comment</a
      >
      {% endfor %}
    
  
</div>

{% endblock %}
